* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    width: 100%; 
    background: #333;
    min-height: 111px ;   
}
main {
    width: 100%;
    flex-grow: 1;
}
footer {
    width: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.link {
    background: url('../img/fon.png'), #333333;
    min-height: 478px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;    
}

.cards_item {
    margin-top: 55px;
    margin-bottom: 55px;
    text-align: center;
    padding: 25px;
}
.card_name {
    margin-top: 15px;
    font-family: 'Gilroy';      
    font-size: 16px;
    line-height: 150%;
    color: #333333;
}
.card_brend {
    margin-top: 15px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #333333;    
}